<%for(var i=0;i<results.length;i++){
    %>
<tr>
    <td><%=results[i].rollno%> </td>
    <td><%=results[i].name%></td>
    <td><%=results[i].dob%></td>
    <td><%=results[i].score%></td>
    <td>
        <a href="/update-result?id=<%= results[i]._id%> " class="btn border-shadow update">
            <span class = "text-geadient"><i class="fa-solid fa-pen-to-square"></i></span>
        </a>
        <a href="#" class="btn border-shadow delete" >
            <span class = "text-geadient"><i class="fa-regular fa-trash"></i></span>
        </a>
    </td>
</tr>
<% } %> 